PoryectoPr5.UI/Connected Services/ServiceWCF/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51466/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" />
  <xs:import schemaLocation="http://localhost:51466/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProyectoPr5.BL.WCF1" />
  <xs:element name="registrarUsuarioNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" minOccurs="0" name="r" nillable="true" type="q1:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarUsuarioNuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarUsuarioNuevoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" minOccurs="0" name="r" nillable="true" type="q2:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarRolResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" minOccurs="0" name="r" nillable="true" type="q3:Categoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevaCategoriaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" minOccurs="0" name="r" nillable="true" type="q4:Categoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarCategoriaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" minOccurs="0" name="r" nillable="true" type="q5:artCustodia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarArtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarArtExtraviados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" minOccurs="0" name="r" nillable="true" type="q6:artEstraviados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarArtExtraviadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarArtExtraviadosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarArtExtraviados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" minOccurs="0" name="r" nillable="true" type="q7:artEstraviados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarArtExtraviadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarArtExtraviadosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarArtCustodia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProyectoPr5.DAL" minOccurs="0" name="r" nillable="true" type="q8:artCustodia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarArtCustodiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarArtCustodiaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProyectoPr5.BL.WCF1" minOccurs="0" name="composite" nillable="true" type="q9:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ProyectoPr5.BL.WCF1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q10:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>